:root {
    --color-1: #8a1538;
    --color-2: #dddddd;
    --color-3: #424B54;
    --color-4: #07BEB8;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@media screen and (min-width: 0) {  /*Mobile*/
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: var(--color-2);
        /* background-color: #8a1538;
        background-image: linear-gradient(90deg, #8a1538 0%, #ffffff 50%, #8a1538 100%); */
        padding: 10px 0;
}
    
    .header-icon {
        min-width: 100px;
        max-width: 200px;
    }
    
    .header-icon img {
        width: 100%;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .a-1 {
        text-decoration: none;
        color: var(--color-1);
        margin-bottom: 2px;
    }

    .a-2 {
        text-decoration: none;
        color: var(--color-1);
        font-weight: 700;
    }

    .navbar a:hover {
        transform: scale(1.05);
    }

    main {
        background-color: var(--color-3);
    }

    .titulo {
        text-align: center;
        font-size: 24px;
        padding: 20px 10px;
        color: var(--color-2);
        font-weight: 500;
    }

    .titulo b {
        color: #000;
        letter-spacing: 1px;
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        /* -webkit-text-stroke: 0.6px black; */
    }

    .equipos {
        background-color: var(--color-2);
    }

    .equipos h2 {
        text-align: center;
        color: transparent;
        padding: 20px 10px;
        letter-spacing: 2px;
        color: var(--color-1);
    }

    .grupos-tablas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grupo {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .grupos {
        margin: 0 auto 20px;
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .grupo-nombre {
        font-size: 12px;
        min-width: 46px;
        padding: 4px;
        text-decoration: none;
        color: var(--color-3);
    }

    .grupo-nombre:hover {
        transform: scale(1.05);
        color: var(--color-1);
    }

    .titulo-grupo {
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        color: var(--color-2);
        font-weight: 500;
        border-bottom: 4px solid var(--color-3);
        width: 100%;
        padding: 5px;
        background-color: var(--color-3);
    }

    .pais {
        border-bottom: 4px solid var(--color-3);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pais-titulo {
        color: #000;
        font-size: 16px;
    }

    .pais-img img {
        width: 60%;
    }

    .boton {
        height: 40px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 10px 20px;
        background-color: var(--color-1);
        border-radius: 50%;
        transition: background-color 1s;
    }

    .boton a {
        font-size: 30px;
        padding: 10px;
        color: var(--color-2);
        transition: color 1s;
    }

    .boton:hover {
        background-color: var(--color-3);
        transition: background-color 0.3s;
    }

    .boton a:hover {
        color: #000;
        transition: color 0.3s;
    }

    .span-tabla {
        color: var(--color-1);
        font-size: 14px;
        padding: 4px;
        cursor: pointer;
    }

    .tablas {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.523);
        z-index: 2;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    table {
        margin: auto;
        border-collapse: collapse;
        width: 100%;
    }

    .tabla-contenido {
        width: 90%;
        background-color: var(--color-2);
        padding: 0 10px 30px;
    }

    .tabla-nombre {
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }

    .td {
        font-size: 14px;
        padding: 2px;
        text-align: center;
        border: 2px solid #000;
    }

    .td-principal {
        color: var(--color-1);
        font-weight: 700;
    }

    .salir {
        cursor: pointer;
        display: flex;
        justify-content: end;
        font-size: 20px;
        font-weight: 700;
        padding: 8px;
        color: var(--color-1);
    }
}

@media screen and (min-width: 768px) {  /*Tablet*/
    .header-icon {
        max-width: 250px;
    }

    .navbar {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {  /*Desktop*/
    .header-icon {
        max-width: 300px;
    }
}
